# Econ 141  - Spring 2019

## Bryan Graham
### GSI Seongjoo Min

## Problem Set 2 -  Due February 26th, 2019

Problem sets are due at 5PM in the GSIs mailbox. You may work in groups,
but each student should turn in their own write-up (including a narrated/commented
and executed Jupyter Notebook). Please use markdown boxes within your
Jupyter notebook for narrative answers to the questions below.

### Using inverse probability weighting (IPW) to evaluate the returns to a college degree

The purpose of this problem set is to give you practice using the basic covariate adjustment methods introduced in lecture. You might find the following papers useful. The paper “Improving middle school quality in poor countries: evidence from the Honduran Sistema de Aprendizaje Tutorial” (McEwan et al., 2015) provides an example of inverse probability weighting in action. You should also review your lectures notes and read Holland (1986), Efron & Hastie (2016, Chapter 8) and Hirano & Imbens (2001).

Overview of dataset:

This problem set uses the comma delimited dataset [nlsy79extract.csv](https://github.com/bryangraham/Ec_141/blob/master/Spring2019/Datasets/nlsy79extract.csv) available on the [course GitHub page](https://github.com/bryangraham/Ec_141/tree/master/Spring2019). 

The dataset includes information on 12,686 youth surveyed as part of the National Longitudinal Survey of Youth 1979 (NLSY79). In this problem set you will use the following variables:

`core_sample` – indicator for whether individual is part of the core

`NLSY70 sample year_born` – year in which individual was born

`live_with_mom_at_14` - dummy variable indicating whether individual resided with their mother at age 14

`live_with_dad_at_14` – dummy variable indicating whether individual resided with their father at age 14

`usborn` - dummy variable indicating whether individual was born in the 

`United States male` - male/female dummy variable

`hispanic` – hispanic/non-hispanic dummy variable
￼￼￼￼￼￼￼
`black` – black/non-black dummy variable

`AFQT` – Armed Forces Qualification Test (AFQT) score percentile (0 to 100)

`HGC_Age28` – years of completed school at age 28

`HGC_Fath79` – father’s years of completed schooling

`HGC_Moth79` – mother’s years of completed schooling

`real_earnings_xxxx` – “xxxx” real earnings in 2010 prices (available for multiple years)

## Preparing the dataset

1. The dataset has been loaded below into a pandas dataframe called `nlsy79`. Use `HHID_79` and `PID_79` as the multi-indices for the dataframe.

In [7]:
import pandas as pd
nlsy79=pd.read_csv("https://raw.githubusercontent.com/bryangraham/Ec_141/master/Spring2019/Datasets/nlsy79extract.csv")
nlsy79.head() # Only shows the first 5 rows of the table

,PID_79,HHID_79,core_sample,sample_wgts,month_born,year_born,live_with_mom_at_14,live_with_dad_at_14,single_mom_at_14,usborn,...,weeks_worked_2001,weeks_worked_2003,weeks_worked_2005,weeks_worked_2007,weeks_worked_2009,weeks_worked_2011,NORTH_EAST_79,NORTH_CENTRAL_79,SOUTH_79,WEST_79
0,1,1,1,602156.31,9,58,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1,2,2,1,816100.38,1,59,1.0,1.0,0.0,0.0,...,0.0,18.0,52.0,52.0,52.0,52.0,1.0,0.0,0.0,0.0
2,3,3,1,572996.38,8,61,1.0,0.0,0.0,1.0,...,0.0,NaN,43.0,0.0,NaN,52.0,1.0,0.0,0.0,0.0
3,4,3,1,604567.88,8,62,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
4,5,5,1,764753.00,7,59,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

2. Drop any cases where `core_sample` equals zero.

3. Drop any units where `male` equals zero.

4. Drop any units where `year_born` is not 61, 62 or 63.

5. Create a dummy variable called college which equals 1 if `HGC_Age28` is _greater than or equal to_ 16 and zero otherwise. Next drop any units where `HGC_Age28` is less than 12.

6. Create a variable called `earnings_in_2000` which is the average of `real_earnings_1997`, `real_earnings_1999`, `real_earnings_2001`, `real_earnings_2003`. When computing this variable average over all non-missing values; for example if earnings is observed in just two of the four years listed above, average over the two years it is observed.

7.Drop all variables except `live_with_mom_at_14` ,`live_with_dad_at_14` ,`usborn,hispanic` , `black` , `AFQT` , `HGC_Fath79` , `HGC_Moth79` , `college` and `earnings_in_2000`.

8. Finally retain only complete cases (you can use `“dropna()”` for this).

9. Those units that remain constitute your estimation sample. Use “`describe()`” to print out some basic summary statistics for your estimation sample. Write a short paragraph about your dataset.

## Estimating the average earnings premium due to college attendance
A somewhat dated, although still useful, blog post on logistic regression using Python and
statsmodels is available online [here](http://blog.yhat.com/posts/logistic-regression-python-rodeo.html).

You might find this post useful for completing this portion of the problem set.

1. Compute the logistic regression of `college` onto a constant and the other variables in your dataset (except for `earnings_in_2000`).

2. Compute the fitted values (“propensity scores”) associated with your regression fit, $\hat{e}\left(X_{i}\right)$ for $i=1,\ldots,N$.
 Is the overlap condition satisfied? Why? Present _graphical_ evidence for your answer.

3. Compute the IPW weights for average treatment effect (ATE) estimation as described in lecture and also Hirano & Imbens (2001). Compute the weighted least squares fit of `earnings_in_2000` onto a constant and college using these weights (this is a computational device which computes the IPW estimator described in lecture; you may use the WLS procedure in statsmodels for this step). Interpret the coefficient on college.

4. Use the bootstrap procedure described in lecture to construct a confidence interval for the ATE. Use at least 500 bootstrap samples.

5. Discuss your results. Is the selection on observables assumption reasonable? Why or why not? What additional data would you collect to improve your analysis?